@charset "utf-8";
@font-face{
  font-family:xeicon;
  src: url(../font/xeicon.woff2);
}
html{
  scroll-behavior:smooth;
}
i{
  font-family:xeicon;
  font-style:normal;
}
button{
  border:0;
  outline:0;
}
input{
  outline:0;
}
input[type=button]{
  cursor:pointer;
}
.cf{}
.cf:after{
  content:"";
  display:block;
  clear:both;
}
section{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:232px 0 40px;
}
.list{
  width: calc(20% - 4px);
  border:1px solid #efefef;
  float:left;
}
.list.on{
  position:sticky;
  position:-webkit-sticky;
  top:120px;
  left:0;
}
.list.done{
  position:sticky;
  position:-webkit-sticky;
  top:164px;
  left:0;
}
.list h3{
  line-height:80px;
  text-align:center;
  font-size:16px;
  background:#73a6d6;
  color:#fff;
  font-weight:400;
}
.list ul{
  height:480px;
  width:100%;
  overflow:auto;
}
.list li{
  padding:8px 16px;
  font-size:14px;
  border-bottom:1px solid #efefef;
  cursor:pointer;
}
.list li:hover{
  background:rgba(115,166,214,0.1);
}
.list li:last-child{
  border-bottom:0;
}
.list li.on{
  font-weight:600;
}
.recommend{
  display:inline-block;
  font-size:10px;
  padding:2px 0;
  width:40px;
  text-align:center;
  border-radius:20px;
  border:1px solid #ff9124;
  color:#ff9124;
  font-weight:600;
  margin-left:10px;
}
.best{
  display:inline-block;
  font-size:10px;
  padding:2px 0;
  width:40px;
  text-align:center;
  border-radius:20px;
  border:1px solid #72a6d6;
  color:#73a6d6;
  font-weight:600;
  margin-left:10px;
}
.info{
  width:calc(80% - 12px);
  padding:16px;
  float:right;
  position:relative;
  border:1px solid #efefef;
}
.info > h2{
  width:350px;
  margin-bottom:8px;
}
.info > h2 img{
  width:100%;
  height:auto;
}
.info > h3{
  width:350px;
  padding:7px;
  font-size:12px;
  background:#333;
  color:#fcfcff;
  font-weight:400;
  margin-bottom:20px;
}
.info > h1{
  color:#333;
  font-size:32px;
  margin-bottom:30px;
}
.info > h1 span{
  font-size:24px;
  margin-left:10px;
}
.like{
  padding:8px 16px;
  background:#fff;
  font-size:14px;
  line-height:1em;
  position:absolute;
  top:16px;
  right:16px;
  color:#999;
}
.like.on{
  color:#ff9124;
}
.like i{
  display:block;
  font-size:32px;
  vertical-align:middle;
  margin-bottom:8px;
  line-height:1em;
}
.data{
  display:inline-block;
  width:60%;
  border-right:1px solid #efefef;
  padding-right:12px;
}
.data li{
  display:inline-block;
  width:calc(50% - 6px);
  padding:4px 0;
  margin:0 12px 10px 0;
  text-align:center;
  font-size:16px;
  color:#999;
  border:1px solid #efefef;
  line-height:1.6em;
  vertical-align:top;
}
.data li:nth-child(2n){
  margin-right:0;
}
.data li:nth-last-child(n+1):nth-last-child(-n+2){
  margin-bottom:0;
}
.data li i{
  display:block;
  text-align:center;
  width:100%;
  height:50px;
}
.data li img{
  vertical-align:middle;
}
.data p:nth-child(3){
  font-size:24px;
  color:#73a6d6;
}
.data p span{
  font-size:16px;
  color:#999;
}
.calc{
  display:inline-block;
  width:40%;
  vertical-align:top;
  padding-left:12px;
}
.calc h2{
  font-size:24px;
  margin-bottom:20px;
  font-weight:400;
}
.calc_top{
  position:relative;
  width:100%;
  padding-bottom:32px;
  border-bottom:1px solid #efefef;
}
.calc_top select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  display:inline-block;
  position:relative;
  z-index:1;
  height:auto;
  outline:0;
  cursor:pointer;
  font-size:16px;
  font-weight:600;
  color:#555;
  border-radius:0;
  width:64%;
  background:none;
  padding:16px;
  border:1px solid #efefef;
  transition:all 0.2s;
}
.calc_top:after{
  content:"";
  display:block;
  font-size:20px;
  font-family:xeicon;
  position:absolute;
  color:#333;
  top:16px;
  left:calc(64% - 32px);
  transition:all 0.3s;
}
.calc_top.on:after{
  transform:rotate(180deg);
}
.calc_top p{
  display:inline-block;
  font-size:16px;
  margin-left:10px;
}
.calc_bottom{
  padding-top:32px;
  width:100%;
}
.calc_bottom > div{
  margin-bottom:32px;
}
.calc_bottom > div p{
  display:inline-block;
  font-size:16px;
  margin-right:4px;
}
.circle{
  display:inline-block;
  vertical-align:top;
  margin-top:1px;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#efefef;
  color:#999;
  font-size:12px;
  line-height:16px;
  text-align:center;
  font-weight:600;
  position:relative;
  cursor:pointer;
}
.circle div{
  position:absolute;
  top:30px;
  right:-150px;
  text-align:left;
  line-height:1.6em;
  padding:8px 16px;
  width:300px;
  background:#efefef;
  z-index:2;
  display:none;
}
.circle:hover div{
  display:block;
}
.calc_bottom input{
  float:right;
  vertical-align:top;
  width:40%;
  border:0;
  font-size:20px;
  font-weight:600;
  color:#73a6d6;
  text-align:right;
  letter-spacing:0.1px;
}
.calc_bottom a{
  display:block;
  width:100%;
  font-size:16px;
  text-align:center;
  color:#73a6d6;
  font-weight:600;
}
.invest{
  width:100%;
  padding:29px 0;
  background:#73a6d6;
  font-size:24px;
  font-weight:600;
  color:#fff;
  text-align:center;
  margin-top:39px;
  cursor:pointer;
}
.invest:hover{
  background:#ff9124;
}
.gauge_bar{
  width:100%;
  margin:24px 0 48px;
}
.gauge_bar p{
  font-size:16px;
}
.gauge_bar > p{
  font-size:24px;
  font-weight:600;
  color:#ff9124;
}
.gauge{
  width:100%;
  height:10px;
  border-radius:10px;
  background:#f9f9f7;
  margin:8px 0;
  position:relative;
}
.gauge div{
  width:0;
  height:10px;
  border-radius:10px;
  background:#ff9124;
  position:absolute;
  top:0;
  left:0;
}
.gauge_bar div:nth-child(3) p:first-child{
  float:left;
}
.gauge_bar div:nth-child(3) p:nth-child(2){
  float:right;
}
.photo{
  margin-bottom:40px;
}
.photo > div{
  width:calc(100% - 244px);
  height:346px;
  overflow: hidden;
  margin-bottom: 15px;
  border:1px solid #efefef;
  float:left;
  position:relative;
}
.photo > div p, #lightBox p{
  width:100%;
  position:absolute;
  font-size:14px;
  text-align:center;
  color:#222;
  bottom:8px;
  left:0;
  z-index:10;
  font-weight:600;
}
.photo div img{
  position:absolute;
  width:100%;
  height:auto;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:none;
}
.photo div img:nth-child(4){
  display:block;
}
.photo ul{
  float:right;
  width:228px;
  height:346px;
  font-size:0;
  overflow:hidden;
}
.photo li{
  width:110px;
  height:110px;
  border:1px solid #efefef;
  display:inline-block;
  margin:0 8px 8px 0;
  cursor:pointer;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}
.photo li:nth-child(2n){
  margin-right:0;
}
.photo li:nth-child(6){
  position:relative;
}
.photo li:nth-child(6):after{
  content:"+10 Photos";
  display:block;
  width:100%;
  height:100%;
  font-size:16px;
  color:#fff;
  text-align:center;
  line-height:110px;
  background:rgba(0,0,0,0.7);
  position:absolute;
  top:0;
  left:0;
}
.photo .prev, .photo .next, #lightBox .prev, #lightBox .next{
   width:24px;
   height:32px;
   background:rgba(0,0,0,0.5);
   color:#fff;
   font-size:24px;
   line-height:32px;
   position:absolute;
   top:50%;
   margin-top:-16px;
  padding:0;
  border:0;
  outline:0;
  z-index:1;
}
.photo .prev, #lightBox .prev{
  left:8px;
}
.photo .next, #lightBox .next{
  right:8px;
}
#lightBox{
  width:100%;
  height:100vh;
  padding:80px;
  position:fixed;
  top:50%;
  left:0;
  transform:translateY(-50%);
  background:rgba(0,0,0,0.9);
  z-index:100;
}
#lightBox .close{
  width:40px;
  height:40px;
  background:none;
  color:#fff;
  font-family:xeicon;
  font-size:32px;
  position:absolute;
  top:16px;
  right:16px;
}
#lightBox div{
  width:80%;
  height:80%;
  margin:0 auto;
  position:relative;
}
#lightBox p{
  z-index:50;
}
#lightBox div img{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  height:100%;
  width:auto;
  z-index:30;
  display:none;
}
#lightBox div img:nth-child(4){
  display:block;
}
#lightBox ul{
  width:80%;
  height:calc(20% - 16px);
  margin:16px auto 0;
  font-size:0;
  white-space:nowrap;
	overflow-x:auto;
	overflow-y:hidden;
  overscroll-behavior:contain;
  -webkit-overflow-scrolling:touch;
}
#lightBox ul::-webkit-scrollbar{
	height:4px
}
#lightBox li{
  width:160px;
  height:100%;
  display:inline-block;
  margin-right:8px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  cursor:pointer;
}
#lightBox li.on{
  border:2px solid #ff9124;
}

article{
  margin-bottom:40px;
}
article h3{
  font-size:24px;
  position:relative;
  margin-bottom:24px;
  width:max-content;
}
article h3:after{
  content:'';
  display:block;
  width:100%;
  height:6px;
  background:#ff9124;
  opacity:0.6;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
}
.row1 ul{
  display:inline-block;
  width:calc(50% - 8px);
  font-size:0;
}
.row1 li{
  display:inline-block;
  width:60%;
  height:48px;
  font-size:16px;
  line-height:48px;
  text-align:center;
}
.row1 li:nth-child(2n-1){
  width:40%;
  background:#efefef;
  font-weight:600;
}
.row1 > div{
  display:inline-block;
  width:calc(50% - 8px);
  height:192px;
  margin-left:16px;
  border:1px solid #efefef;
  position:relative;
  vertical-align:top;
}
.row2 i{
  display:block;
  width:32px;
  height:32px;
  opacity:0.2;
  margin:16px auto;
}
.row2 i:first-child{
  background:url(../img/quote-left.svg) no-repeat center/cover;
}
.row2 i:nth-child(5){
  background:url(../img/quote-right.svg) no-repeat center/cover;
}
.row2 p{
  font-size:16px;
  text-align:center;
  line-height:1.6em;
  color:#999;
}
.row2 p:nth-child(2){
  font-size:24px;
  font-weight:600;
  color:#73a6d6;
}
.row2 p:nth-child(3){
  font-size:20px;
  font-weight:600;
  color:#333;
}
.row2 div:nth-last-child(2){
  width:100%;
  height:160px;
  position:relative;
  background:url(../img/con_img002.jpg) no-repeat center/cover;
  margin-bottom:24px;
}
.row2 div:nth-last-child(2):after{
  content:'';
  display:block;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  position:absolute;
  top:0;
  left:0;
}
.row2 div div p{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color:#fff;
  font-size:24px;
  z-index:2;
}
.row2 textarea{
  display:block;
  width:100%;
  text-align:center;
  font-size:16px;
  line-height:1.6em;
  border:0;
  outline:0;
  overflow:hidden;
	resize:none;
}
.row3 h4{
  font-size:18px;
  margin:16px 0 8px;
}
.row3 h4:nth-child(2){
  margin-top:0;
}
.row3 p{
  font-size:16px;
  line-height:1.6em;
}
.operPlan{
  margin-top:24px;
  height:480px;
  padding:16px 0 16px 16px;
  background:#fff;
  border:1px solid #efefef;
  position:relative;
  overflow:hidden;
}
.operPlan > div{
  width:calc(80% - 8px);
  height:100%;
  float:left;
}
.operPlan > ul{
  width:calc(20%);
  height:100%;
  overflow-y:auto;
  float:right;
  padding-right:8px;
}
.operPlan li{
  width:100%;
  height:120px;
  margin-bottom:16px;
  background-size:cover;
  cursor:pointer;
}
.operPlan li:last-child{
  margin-bottom:0;
}
.operPlan > div{
  background-size:cover;
  background-position:center;
}
.row4 h4{
  font-size: 16px; margin-bottom: 5px;
  padding: 0 4px;
}
  .row4 h4 span{
  font-size: 12px;
}
.row4 h4 span:nth-child(2){
  float: right;
}
.row4 table{
  border: 1px solid #efefef;
  margin: 0 0 16px;
}
.row4 tr{
  font-size: 16px;
}
.row4 th{
  width: 200px;
  vertical-align: top;
}
.row4 th, .row4 td{
  padding: 4px 8px;
  border: 1px solid #efefef;
  text-align: left;
  font-size: 14px;
}
.row4 td:last-child{
  text-align: right;
}
.row4 p{
  font-size: 16px;
}
.row4 .avrg th{
  width: 125px;
}
.row4 .thanbank th{
  width: 125px;
}
.row5 table{
  font-size: 14px;
  text-align: center;
  min-width: 700px;
}
.row5 tr:last-child{
  background-color: #ff9124;
}
.row5 th, .row5 td{
  padding: 4px;
  border: 1px solid #efefef;
}
.row5 tr:last-child td{
  color: #fff;
}
.row6{
  font-size:0;
}
.row6 > a{
  display:inline-block;
  width:50%;
  height:48px;
  padding:0 24px;
  font-size:16px;
  font-weight:700;
  line-height:48px;
}
.row6 > a:hover{
  background:#efefef;
}
.row6 > a:active{
  color:#73a6d6;
}
.row6 i{
  font-size:24px;
  line-height:48px;
  vertical-align:top;
  font-weight:400;
}
.row6 i:first-child{
  margin-right:8px;
}
.row6 i:last-child{
  float:right;
}
.row6 p{
  display:inline-block;
  font-size:16px;
  vertical-align:top;
  margin:0 0 0 8px;
  line-height:48px;
  font-weight:600;
}
.row7 div{
  font-size:16px;
  line-height:1.6em;
  margin-bottom:16px;
}
.row7 p{
  word-break:keep-all;
}