@charset "utf-8";

.fav{
	width:100%;
}
.fav h6{
	font-size:20px;
	color:#555;
	margin-bottom:8px;
}
.fav h6 i{
	color:#ff9124;
}
.fav ul{
	width:100%;
	height:240px;
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
	padding:8px 0;
	font-size:0;
	white-space:nowrap;
	overflow-x:scroll;
	overflow-y:hidden;
    overscroll-behavior:contain;
    -webkit-overflow-scrolling:touch;
}
.fav ul::-webkit-scrollbar{
	height:4px
}
.fav li{
	width:220px;
	height:220px;
	border:1px solid #efefef;
	display:inline-block;
	font-size:14px;
	margin-right:8px;
	position:relative;
	cursor:pointer;
	overflow:hidden;
}
.fav li a{
	position:absolute;
	top:8px;
	right:8px;
	z-index:2;
	font-size:20px;
	color:#fff;
	opacity:0;
	display:none;
	transition:all 0.3s;
}
.fav li:hover a{
	display:block;
	opacity:0.6;
}
.fav li > div{
	width:100%;
	height:50%;
	overflow:hidden;
	position:relative;
}
.fav li > div span{
	font-size:12px;
	font-weight:600;
	color:#999;
}
.fav li > div h6{
	margin-top:8px;
}
.fav li > div h6 span{
	display:block;
	margin-top:8px;
}
.fav .txt_box{
    padding:8px;
}
.fav li img{
    width:100%;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.
.gage{
  width: 100%;
  padding-top: 0;
  font-size: 12px;
	margin-top:16px;
}
.gage .per{
  color: #ff9124;
  font-size: 14px;
  font-weight: bold;
	float:left;
	margin-bottom:4px;
}
.gage .per span{
	font-size:16px;
	color:#ff9124;
}
.gage > p{
	float:right;
	font-size:14px;
	font-weight:600;
	color:#73a6d6;
	line-height:14px;
}
.gage_full{
  width: 100%;
  height: 5px;
  background-color: #efefef;
  margin: 0 0px 4px;
  border-radius: 4px;
  overflow: hidden;
}
.gage_fill{
  width: 0;
  height: 5px;
  background-color: #ff9124;
  border-radius: 4px;
}
.fav li > div span.d_day{
	position:absolute;
	top:8px;
	right:8px;
	color:#73a6d6;
}
.fav li > div span.d_day span{
	color:#73a6d6;
}

@media all and (max-width:1200px){
    .fav li a{
		display:block;
		opacity:0.6;
	}
	.fav li > div span.d_day{
		right:auto;
		left:36px;
		top:10px;
	}
    
}