@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

.cf{}
.cf:after{
	content:"";
	display:block;
	clear:both;
}
.mypage{
  display:none;
}
#mypage1{
	display:block;
}
h1{font-size:80px; line-height:80px;}
h2{font-size:64px; line-height:64px;}
h3{font-size:48px; line-height:48px;}
h4{font-size:32px; line-height:32px;}
h5{font-size:24px; line-height:24px;} 
h6{font-size:12px; line-height:12px;}

section{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	padding:24px 0 40px;
    overflow:hidden;
}
input[type="text"],input[type="button"], input[type="password"], input[type="number"]{
	 -webkit-appearance:none;
  	 -webkit-border-radius:0;
	outline:0;
}
input[type="text"], input[type="password"]{
	width:100%;
	height:32px;
	text-indent:8px;
	border:1px solid #999;
	outline:0;
	color:#555;
}
input[type="text"]:focus, input[type="password"]:focus{
	border:1px solid #ff9124;
}
label{
	color:#555;
}
button{
	border:0;
	outline:0;
	padding:0;
	background:none;
	transition:all 0.2s;
	color:#555;
}
input[type="button"]{
	background:none;
	height:32px;
	outline:0;
	cursor:pointer;
	transition:all 0.2s;
	color:#555;
}
table{
	font-size:16px;
	margin:24px 0;
}
section h5{
	text-align:left;
	color:#555;
	margin-bottom:24px;
}
tr{
	height:48px;
	text-align:center;
	border-bottom:1px solid #efefef;
}
td{
	color:#555;
	line-height:1.6em;
}
tr:first-child{
	background:#f9f9f9;
}
tr:first-child td{
	font-weight:600;
}
.tab{
	width:100%;
	border-bottom:1px solid #efefef;
	font-size:0;
	margin-bottom:40px;
}
.tab li{
	font-size:20px;
	font-weight:600;
	width:16.66%;
	text-align:center;
	display:inline-block;
	height:72px;
	line-height:72px;
	cursor:pointer;
	color:#555;
}
.tab li.on{
	font-weight:600;
	color:#ff9124;
	border-bottom:2px solid #ff9124;
}

/***********************************************************************general******/

.con{
	font-size:0;
	color:#999;
	width:calc(79% - 16px);
	display:inline-block;
	margin-right:16px;
}
.con ul{
	width:100%;
	font-size:0;
	margin-bottom:16px;
}
.con li{
	width:calc((100% - 32px)/5);
	height:160px;
	text-align:center;
	border:1px solid #efefef;
	display:inline-block;
	vertical-align:top;
	margin-right:8px;
}
.con li:last-child{
	margin-right:0;
}
.con li img{
	margin:20px 0 8px;;
	height:40px;
	width:auto;
}
.con li p{
	font-size:16px;
}
.con li span{
	display:block;
	font-size:24px;
	line-height:24px;
	margin:8px 0;
	font-weight:600;
	color:#ff9124;
}
.con li span span{
	display:block;
	font-size:16px;
	color:#999;
	font-weight:400;
}
.con select{
	width:240px;
	height:48px;
	border-radius:4px;
	border:1px solid #999;
	outline:none;
	padding:0 16px;
	font-size:16px;
	background:url(../img/ico_arrow.png) no-repeat center right 16px/auto 10px;
}
.con a{
	display:inline-block;
	background:#73a6d6;
	width:160px;
	height:48px;
	border-radius:4px;
	line-height:48px;
	text-align:center;
	font-size:16px;
	color:#fff;
}
.con a i{
	margin-left:8px;
}
.cor_info{
	border:1px solid #efefef;
	padding:16px;
	position:relative;
}
.cor_info > div:nth-child(-n+3){
	width:calc(50% - 8px);
	display:inline-block;
	vertical-align:top;
	margin-bottom:32px;
}
.cor_info > div:nth-child(2){
	margin-right:16px;
}
.cor_info h6{
	font-size:16px;
	margin-bottom:24px;
	color:#73a6d6;
	line-height:16px;
}
.cor_info table{
	margin:0;
}
.cor_info a{
	width:100%;
	height:40px;
	margin-bottom:8px;
	line-height:40px;
	border-radius:0;
}
.cor_info a:last-child{
	width:40%;
}
.cor_info select{
	width:58%;
	height:40px;
	margin-right:2%;
	border-radius:0;
}
.rep tr{
	height:32px;
}
.cor_info > div:last-child tr:last-child td{
	background:#ff9124;
	color:#fff;
}
.list{
	width:21%;
	height:100%;
	display:inline-block;
	vertical-align:top;
	border:1px solid #efefef;
	height:400px;
}
.list p{
	text-align:right;
	padding:24px 16px;
	font-size:24px;
}
.list p span{
	font-weight:600;
	color:#73a6d6;
}
.list ul{
	height:calc(100% - 104px);
	overflow-y:auto;
	overscroll-behavior:contain;
}
.list li{
	font-size:16px;
	color:#999;
	height:40px;
	line-height:40px;
	padding:0 16px;
	border-bottom:1px solid #efefef;
	cursor:pointer;
}
.list li:first-child{
	border-top:1px solid #efefef;
}
.list li.on{
	border-left:3px solid #73a6d6;
	color:#333;
	font-weight:600;
}
.list button{
	display:none;
}
.list_show{
	display:none;
}
.t td:first-child{
	width:10%;
}
.t td:nth-child(2){
	width:35%;
}
.t td:nth-child(3){
	width:25%;
}
.t td:nth-child(4){
	width:20%;
}
.t td:last-child{
	width:10%;
}
.minus{
	color:#ff9124;
}
.plus{
	color:#73a6d6;
}
.pager{
	font-size:0;
	display:inline-block;
}
.pager li{
	display:inline-block;
	font-size:16px;
	padding:0 8px;
	cursor:pointer;
}
.pager li:hover{
	color:#ff9124;
}
.pager .on{
	color:#ff9124;
	font-weight:600;
}
.prev, .next{
	font-size:16px;
	padding:0 8px;
}
.prev:hover, .next:hover{
	color:#ff9124;
}
/********************************************************************투자현황**/

.asset{
	width:100%;
	padding:24px 0;
	position:relative;
}
.asset label{
	display:block;
	margin-bottom:8px;
}
.asset > div:nth-child(3){
	position:absolute;
	top:24px;
	right:0;
	width:calc((100% - 16px)/3*2);
}
.b1, .b2, .b3, .b4{
	border:1px solid #efefef;
	padding:16px;
	color:#555;
	font-size:16px;
}
.btn, .b1{
	width:calc((100% - 16px)/3);
	margin-right:16px;
}
.btn{
	margin-bottom:16px;
}
.btn button{
	width:100%;
	background:#f9f9f9;
	font-size:24px;
	color:#999;
}
.btn button:first-child{
	margin-bottom:8px;
}
.btn .on{
	background:#ff9124;
	color:#fff;
}
.b1{
	position:relative;
}
.b1 > div{
	position:absolute;
	width:100%;
	padding:16px;
	left:0;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
}
.b1 textarea{
	display:block;
	width:100%;
	height:auto;
	margin:16px 0;
	font-size:16px;
	color:#555;
	line-height:1.6em;
	text-align:center;
	border:0;
	outline:0;
	overflow:hidden;
	resize:none;
}
.b1 button{
	width:40%;
	height:32px;
	border-radius:4px;
	font-size:14px;
	border:1px solid #73a6d6;
	color:#73a6d6;
    cursor:pointer;
}
.brif div div{
	text-align:left;
	padding:0;
	margin-bottom:8px;
	color:#999;
}
.brif div div:first-child{
	text-align:center;
	margin-bottom:16px;
}
.brif div div p:first-child{
	float:left;
}
.brif div div p:last-child{
	float:right;
}
.brif div div:first-child p{
	float:none;
}
.brif div div:first-child p:last-child{
	font-size:20px;
	color:#73a6d6;
	font-weight:600;
	margin-top:8px;
}
.b2{
	width:100%;
	margin-bottom:16px;
	position:relative;
}
.b2 > div, .b3 > div{
	margin-bottom:16px;
}
.b2 p{
	width:100%;
	margin-bottom:16px;
}
.b2 label, .b3 label{
	color:#999;
}
.b2 p span{
	font-size:18px;
	line-height:32px;
	font-weight:600;
	margin:0;
	float:left;
}
.b2 p span:last-child{
	float:right;
	font-size:0;
}
hr{
	background:#efefef;
	color:#efefef;
	border:0;
	height:1px;
	width:100%;
}
.b2 > div.coinout, .b3 > div.coinout{
	margin-bottom:8px;
	text-align:right;
	font-size:14px;
	color:#ff9124;
}
.b3 > div.coinout{
	color:#73a6d6;
}
.b3{
	width:100%;
	position:relative;
}
.asset input[type="text"].coin{
	width:35%;
	margin:0 8px 8px 0;
}
.coinbtn{
    display:inline-block;
}
.b2 div input[type="button"], .b3 div input[type="button"]{
	width:64px;
	background:#f9f9f9;
	border:0;
	color:#555;
}
.b2 input[type="number"]{
	width:160px;
	height:32px;
	text-align:center;
	border:1px solid #efefef;
	color:#555;
}
.b2 button{
	width:32px;
	height:32px;
	background:#fff;
	border:1px solid #efefef;
	color:#999;
	font-size:16px;
}
.b2 .down{
	border-right:0;
}
.b2 .up{
	border-left:0;
}
.sum{
	margin:0 0 16px;
	text-align:right;
	font-size:18px;
}
.b2 span, .b3 span{
	margin-right:16px;
}
.sum span{
	display:inline-block;
	margin:0 8px;
	color:#73a6d6;
	font-weight:600;
}
.b2 .out, .b3 .out{
	width:35%;
	text-align:right;
	font-size:14px;
	height:15px;
	color:#999;
	border:0;
	margin:0;
}
.b2 > input[type="button"], .b3 > input[type="button"]{
	width:40%;
	background:none;
	border:1px solid #73a6d6;
	font-size:16px;
	color:#73a6d6;
	float:right;
}
.b2 > input[type="button"]:hover, .b3 > input[type="button"]:hover{
	background:#73a6d6;
	color:#fff;
}
#send{
	position:absolute;
	width:400px;
	bottom:-260px;
	right:16px;
	z-index:2;
	margin:0;
}
#char, #exch{
	position:absolute;
	width:400px;
	right:16px;
	bottom:-144px;
	z-index:2;
	margin:0;
}
.b4{
	text-align:center;
	margin-top:16px;
}
.c td:first-child, .c td:nth-child(2){
	width:10%;
}
.c td:nth-child(4){
	width:25%;
}
.c td:last-child{
	width:20%;
}
.p td:first-child{
	width:15%;
}
.p td:last-child{
	width:25%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

/*******************************************************************재정관리**/
.list_all{
	width:100%;
	padding:16px;
	border:1px solid #efefef;
}
.list_all h5{
	float:left;
	margin:0;
}
.list_all .button{
	float:right;
    height:24px;
}
.list_all button{
	border:0;
	background:none;
    height:24px;
	font-size:16px;
	font-weight:600;
	color:#999;
	line-height:24px;
	padding:0 8px;
}
.list_all button.on{
	color:#ff9124;
}
.list_all .b4{
	margin-top:16px;
	display:none;
	border:0;
	padding:0;
	opacity:0;
	transition:all 0.1s;
}
.list_all .b4.on{
	display:block;
	opacity:1;
}
/*********************************************************************거래내역****/
.entry{
	width:100%;
	padding:80px 0 104px;
	text-align:center;
	color:#555;
}
.entry h5{
	margin-bottom:8px;
	text-align:center;
}
.entry p{
	font-size:16px;
	margin-bottom:24px;
}
.entry > div label{
	font-size:16px;
	display:block;
	width:400px;
	margin:0 auto;
	margin-bottom:8px;
	text-align:left;
}
.entry input{
	width:400px;
	height:40px;
}
input[type="password"]{
	font-family:'Noto Sans HK', sans-serif;
	font-size:15px;
	letter-spacing:-1px;
}
.entry input[type="button"]{
	margin-top:16px;
	background:#73a6d6;
	color:#fff;
	font-size:16px;
	border:0;
	outline:0;
	cursor:pointer;
}
.entry input[type="button"]:hover, .entry input[type="button"]:active{
	background:#ff9124;
}
.myinfo form > div{
	width:100%;
	padding:24px 0;
	border-bottom:1px solid #efefef;
}
.myinfo label{
	display:inline-block;
	font-size:16px;
	width:200px;
	color:#555;
	text-indent:16px;
}
.myinfo input{
	height:40px;
	outline:0;
	border:1px solid #999;
	font-size:16px;
}
.myinfo input[type="text"], .myinfo input[type="password"]{
	width:320px;
	color:#555;
}
.myinfo input[type="password"]{
	font-size:15px;
}
.myinfo input[type="button"]{
	width:96px;
	background:none;
	border:1px solid #73a6d6;
	color:#73a6d6;
	outline:0;
	transition:all 0.1s;
	cursor:pointer;
	margin-left:8px;
}
input:read-only{
	border:0;
}
.myinfo input[type="text"].addr{
	width:216px;
}
.addr2, .addr3, .addr4{
	display:block;
	margin-left:200px;
	margin-top:8px;
}
input:read-only.addr2, input:read-only.addr{
	border:1px solid #999;
}
.rev_form{
	display:none;
	margin-top:8px;
	margin-left:200px;
	border:1px solid #999;
}
.rev_form.on{
	display:block;
	border:1px solid #999;
}
input[type="button"].letter{
	width:320px;
	margin-left:200px;
}
input[type="text"].verti_num.on{
	width:216px;
	display:inline-block;
}
input[type="button"].ver_ch.on{
	display:inline-block;
}
.myinfo input[type="button"].submit{
	display:block;
	width:320px;
	margin:16px auto;
	background:#73a6d6;
	color:#fff;
}
/******************************************************************내정보수정********/

@media all and (max-width:1200px){
	section{
		padding:40px 24px;
		position:relative;
	}
	.list{
		position:absolute;
		right:-40%;
		width:40%;
		background:#fff;
		transition:all 0.5s;
	}
	.list.on{
		right:24px;
	}
	.con{
		width:100%;
		margin:0;
	}
	.list_show{
		float:right;
		display:block;
		height:48px;
		width:120px;
		font-size:16px;
		border-radius:4px;
		border:1px solid #73a6d6;
		color:#73a6d6;
		outline:0;
		margin-bottom:
	}
	.cor_info{
		margin-top:80px;
	}
	/***************************************************************************투자현황***/
}
@media all and (max-width:767px){
	section{
		padding:0 16px 40px;
	}
    table{
        margin:16px 0;
    }
	.tab{
		margin-bottom:16px;
	}
	.tab li{
		width:25%;
		font-size:16px;
		height:48px;
		line-height:48px;
	}
	/**************************************************************general************/
	.con ul{
		margin:0;
	}
	.con ul li{
		width:100%;
		height:48px;
		padding:8px;
		margin:0 0 8px 0;
	}
	.con ul li img{
		margin:0;
		float:left;
		height:24px;
		margin-top:4px;
	}
	
	.con ul li p{
		float:left;
		font-size:14px;
		line-height:32px;
		margin-left:8px;
	}
	.con ul li span{
		float:right;
		font-size:16px;
		line-height:32px;
		margin:0;
		display:inline-block;
	}
	.con ul li span span{
		font-size:12px;
		margin-left:8px;
	}
	.list_show{
		width:100%;
		margin-bottom:16px;
		float:none;
	}
	.list{
		width:calc(100% - 32px);
		right:-100%;
	}
	.cor_info{
		margin-top:16px;
		padding:8px;
	}
	.cor_info > div:nth-child(-n+3){
		width:100%;
		margin:0 0 24px 0;
	}
	.rep{
		overflow-x:auto;
         -webkit-overflow-scrolling:touch;
	}
	.rep table{
		width:200%;
	}
	.pager li{
		font-size:14px;
	}
	/***********************************************************************투자현황****/
	.b1, .b2, .b3, .b4{
		padding:8px;
	}
	.asset .btn{
		width:100%;
		margin:0 0 16px 0;
		font-size:0;
	}
	.btn button{
		width:calc((100% - 8px)/2);
		font-size:20px;
	}
	.btn button:first-child{
		margin:0 8px 0 0;
	}
	.asset > div:nth-child(3){
		position:relative;
		width:100%;
		top:16px;
	}
	.b1{
		width:100%;
		margin-right:0;
	}
	.b1 label{
		font-size:14px;
		line-height:14px;
	}
	.b1 > div{
		position:relative;
		text-align:left;
		transform:translate(0);
		top:0;
	}
	.b1 textarea{
		text-align:left;
		margin-bottom:8px;
	}
	.b1 button{
		float:right;
	}
	.b2{
		position:relative;
	}
	
	.asset input[type="text"].coin{
		width:70%;
		margin-bottom:30px;
	}
	.b2 span, .b3 span{
		margin:0;
	}
	.b2 .out, .b3 .out{
		position:absolute;
		left:16px;
		bottom:144px;
		width:calc(70% - 16px);
		margin:0;
	}
	.b3 .out.toco{
		bottom:168px;
	}
	.b2 > input[type="button"], .b3 > input[type="button"]{
		width:100%;
	}
	.b4{
		padding:8px 0;
		margin-top:32px;
	}
	.b4 h5{
		margin-left:8px;
	}
	.b4 td{
		word-break:break-all;
		font-size:12px;
	}
	#send{
		width:100%;
		right:0;
		bottom:-240px;
	}
	#exch, #char{
		width:100%;
		right:0;
		bottom:-130px;
	}
	#coin_send, #exch, #char{
		width:100%;
		padding:8px;
	}
	#coin_send button{
		top:8px;
		right:8px;
	}
	
	.b2 input[type="number"]{
		width:calc(100% - 64px);
	}
	.b2 p span{
		font-size:16px;
	}
	.b2 p span:last-child{
		width:45%;
	}
	.list_all{
		padding:16px 0;
	}
	.list_all button{
		font-size:14px;
	}
	
	/**************************************************************************자산관리*****/
	.entry > div label{
		width:100%;
	}
	.entry input{
		width:100%;
		
	}
	.myinfo form > div{
		padding:16px 8px;
	}
	.myinfo label{
		display:block;
		width:100%;
		text-indent:0;
		margin-bottom:8px;
	}
	.myinfo input[type="text"], .myinfo input[type="password"]{
		width:calc(100% - 88px)
	}
	.myinfo input[type="button"]{
		width:80px;
	}
	.myinfo input[type="button"].letter{
		width:calc(100% - 88px);
		margin-left:0;
	}
	.myinfo input[type="text"].verti_num.on{
		width:calc(100% - 176px);
	}
	.myinfo input[type="text"].addr{
		width:calc(100% - 104px);
	}
	.myinfo input[type="button"].addr_btn{
		width:96px;
	}
	.myinfo input[type="text"].addr2, .myinfo input[type="text"].addr3, .myinfo input[type="text"].addr4{
		width:100%;
	}
	.addr2, .addr3, .addr4, .rev_form{
		margin-left:0;
	}
	.myinfo input[type="button"].submit{
		width:100%;
	}
	/*********************************************************************내정보수정******/
	
}
@media all and (max-width:350px){
    .list_all h5{
        float:none;
    }
    .list_all .button{
        float:none;
        margin-top:16px;
    }
}